.login-page-background {
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	background: @color-purple;
}

.login-page-container {

	position: absolute;
	top: 150px;
	right: 40%;

	.title-block {

		.title {
			color: white;
		}
	}

	.login-widget {

		.glyp-container {
			width: 40px;
			height: 40px;
			background: @color-purple-dark;
			border-radius: 50%;
			display: inline-block;

			.glyphicon {
				color: white;
				top: 0px;
				left: 9px;
				font-size: 40px;
				font-weight: bolder;
			}
		}

		.login-text-box-container {
			display: inline-block;
			.input-text {
				border-bottom: 5px solid black;
				border-top: none;
				border-right: none;
				border-left: none;
				background: @color-purple;
			}
		}

	}

}