<div class="login-page-background"></div>

<div class="login-page-container">

	<div class="title-block">
		<h1 CLASS="title">THE CHAT ROOM.</h1>
	</div>

	<div class="login-widget">

		<div class="row">
			<div class="col-xs-10">
				<div class="form-group">
					<input type="text" class="form-control" id="exampleInputEmail1"
					       placeholder="Pick a name any name..">
				</div>
			</div>
			<div class="col-xs-2">
				<i class="glyphicon glyphicon-chevron-right"></i>
			</div>
		</div>
	</div>

</div>